# sensitive pcos-meal-planner items (Temporary)
pcos-meal-planner/
.gemini/commands/food/data/food_substitutions.md

# Gemini Cli files
GEMINI.md
PCOS_Meal_Planner_Plan.md

# VSCODE FILES
.DS_Store

# generated native folders
/ios
/android
